
.navList {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.link {
  color: var(--c-primary-text);
  font-weight: 500;
  transition: color 350ms ease-in;
}

.link:hover, .active {
  color: var(--c-logo);
}
