@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --f-primary: "Roboto", sans-serif;
  --f-secondary: "Montserrat", sans-serif;
  --c-primary: #1d1d1d;
  --c-primary-text: #fafafa;
  --c-text-secondary: #4AA1F380;
  --c-logo: rgb(74, 161, 243);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: var(--f-primary);
  color: var(--c-primary);
  background-color: var(--c-background);
  line-height: 1.5;
  letter-spacing: 0.03em;
}